@model Model.EF.User

@{
    ViewBag.Title = "Xóa bỏ";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<h3>Bạn có chắc muốn xóa đối tượng này?</h3>
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-dark">
        <h6 class="m-0 font-weight-bold text-gray-200">Thông tin người dùng</h6>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color row justify-content-between">
                <div class="col-auto">
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                </div>

                <div class="col-auto">
                    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        }
    </div>
</div>
