@model IEnumerable<Model.EF.ProductCategory>

@{
    ViewBag.Title = "Quản lý phân loại";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
    int i = 1;
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="/Admin/ProductCategories/Create" class="btn btn-primary btn-icon-split">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Thêm mới</span>
        </a>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <th>STT</th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ParentID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DisplayOrder)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ShowOnHome)
                        </th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="center">@(i++)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParentID)
                            </td>
                            <td align="center">
                                @Html.DisplayFor(modelItem => item.DisplayOrder)
                            </td>
                            <td align="center">
                                @if (item.Status)
                                {<i class="fa fa-solid fa-check"></i>}
                                else
                                {<i class="fa fa-solid fa-minus"></i>}
                            </td>
                            <td align="center">
                                @if (item.ShowOnHome)
                                {<i class="fa fa-solid fa-check"></i>}
                                else
                                {<i class="fa fa-solid fa-minus"></i>}
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.ProCatID }, new { @Class = "btn btn-warning fa fa-pencil" })
                                @Html.ActionLink(" ", "Details", new { id = item.ProCatID }, new { @Class = "btn btn-info fa fa-eye" })
                                @Html.ActionLink(" ", "Delete", new { id = item.ProCatID }, new { @Class = "btn btn-danger fa fa-trash" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <!-- Page level plugins -->
    <script src="/Assets/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Assets/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/Assets/admin/js/demo/datatables-demo.js"></script>
}